Repository BCWResearch/bcw_zk_evm, pull requests merged in 2024-07, with the labels that each got.

#4 fix: docker build for worker and leader (#329)
  .github/workflows/docker_build.yml
  .github/workflows/docker_build_push.yml
  leader.Dockerfile
  worker.Dockerfile
  zero_bin/leader.Dockerfile
  zero_bin/worker.Dockerfile
Labels: crate: zero_bin

#5 July1 - updates from polygon (incl docker image fix)
  .github/workflows/ci.yml
  .github/workflows/docker_build.yml
  .github/workflows/docker_build_push.yml
  .github/workflows/pr_checking.yml
  Cargo.lock
  Cargo.toml
  compat/Cargo.toml
  compat/src/lib.rs
  evm_arithmetization/Cargo.toml
  evm_arithmetization/src/cpu/columns/mod.rs
  evm_arithmetization/src/cpu/columns/ops.rs
  evm_arithmetization/src/cpu/kernel/asm/core/transfer.asm
  evm_arithmetization/src/cpu/kernel/asm/memory/memset.asm
  evm_arithmetization/src/keccak_sponge/columns.rs
  evm_arithmetization/src/util.rs
  leader.Dockerfile
  mpt_trie/Cargo.toml
  proc_macro/Cargo.toml
  proc_macro/src/common.rs
  proc_macro/src/impls/columns.rs
  proc_macro/src/impls/deref_columns.rs
  proc_macro/src/impls/mod.rs
  proc_macro/src/lib.rs
  proc_macro/tests/compile/mod.rs
  proc_macro/tests/compile/test_impls.rs
  proc_macro/tests/compile_fail/not_repr_c.rs
  proc_macro/tests/compile_fail/not_repr_c.stderr
  proc_macro/tests/compile_fail/not_repr_c_deref.rs
  proc_macro/tests/compile_fail/not_repr_c_deref.stderr
  proc_macro/tests/compile_fail/not_struct.rs
  proc_macro/tests/compile_fail/not_struct.stderr
  proc_macro/tests/compile_fail/not_struct_deref.rs
  proc_macro/tests/compile_fail/not_struct_deref.stderr
  proc_macro/tests/compiletest.rs
  proof_gen/Cargo.toml
  smt_trie/Cargo.toml
  trace_decoder/Cargo.toml
  worker.Dockerfile
  zero_bin/.cargo/config.toml
  zero_bin/common/src/prover_state/persistence.rs
  zero_bin/leader.Dockerfile
  zero_bin/leader/src/main.rs
  zero_bin/rpc/Cargo.toml
  zero_bin/rpc/src/lib.rs
  zero_bin/rpc/src/native/state.rs
  zero_bin/rpc/src/native/txn.rs
  zero_bin/tools/prove_rpc.sh
  zero_bin/tools/prove_stdio.sh
  zero_bin/verifier/Cargo.toml
  zero_bin/worker.Dockerfile
  zero_bin/worker/Cargo.toml
Labels: crate: evm_arithmetization, crate: zero_bin, crate: mpt_trie, crate: trace_decoder, crate: proof_gen

#10 July 3rd, normal commits
  evm_arithmetization/src/logic.rs
  mpt_trie/src/builder.rs
  zero_bin/leader/src/client.rs
Labels: crate: evm_arithmetization, crate: zero_bin, crate: mpt_trie

#12 Added Test Queue
  Cargo.lock
  Cargo.toml
  zero_bin/coordinator/Cargo.toml
  zero_bin/coordinator/src/benchmarking.rs
  zero_bin/coordinator/src/fetch.rs
  zero_bin/coordinator/src/input.rs
  zero_bin/coordinator/src/main.rs
  zero_bin/coordinator/src/manyprover.rs
  zero_bin/coordinator/src/proofout.rs
Labels: crate: zero_bin

#13 Modifying aggregation times
  zero_bin/coordinator/src/benchmarking.rs
  zero_bin/coordinator/src/manyprover.rs
  zero_bin/prover/src/lib.rs
Labels: crate: zero_bin

#15 PGO
  .github/workflows/deploy.yml
  Cargo.lock
  Cargo.toml
  deploy/helm/zero-bin/values.yaml
  optimized-worker.Dockerfile
  pgo-worker.Dockerfile
  pgo_worker_wrapper.py
  tools/run-benchmark.sh
  zero_bin/worker/Cargo.toml
  zero_bin/worker/src/main.rs
Labels: crate: zero_bin
